html{
    font-size: 62.5%;background: rgb(54,50,126);
    background: radial-gradient(circle, rgba(54,50,126,1) 0%, rgba(22,22,166,1) 38%, rgba(13,135,161,1) 100%);

    font-family: 'Roboto', sans-serif;
}

$text-default : #555;
*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

.tracker{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #333;
    box-shadow: 0 0 15px rgba(0,0,0,0.125);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    align-items: center;
    color : $text-default;
}
.heading-two{
    font-size: 2.4rem;
    color: white;
    text-transform: uppercase;
    // position: fixed;
    // top : 0;
    // left: 0;
}
.nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    padding : 1rem 1rem 0rem 1rem;
    width: 100%;
    &>button{
        justify-self: flex-end;
        padding: 1rem;
        text-transform: uppercase;
        color : white;
        border : none;
        background-color: #999;
        transition: all 0.3s ease;
        font-size: 1.6rem;
        font-weight: 500;
        &:hover{
            background-color: tomato;
        }
    }
}
.table-container{
    padding-top: 2rem;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    gap : 2rem;
    flex-flow: row wrap;    
    &>*{
    border-spacing: .5rem .5em;
    font-size: 1.4rem;
    flex-grow: 1;
    width: 45%;
    &>h3{
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }
    & table{
        width: 100%;
        border-spacing: .5rem .5em;
        font-size: 1.4rem;
    }
    }
}
.positive,.negative{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    color : white;
    padding : 1rem;
    h3{
        margin-bottom: 2rem;
    }
}

.total{
    &-positive{
        color : green;
        &::after{
            content: '↑';
        }
    }
    &-negative{
        color: red;
        &::after{
            content: '↓';
        }
    }
}

thead{
    *{
        text-transform: uppercase;
        font-size: 1.6rem;
        background-color: rgba(0,0,0,0.05);
    }
    tr{
        &>*{
            padding : 1rem 1rem;

        }
    }
}

td{
    border-bottom: 1px solid #999;
}
.data-field{
    color : white;
    td{
        font-size: 1.6rem;
    }
    &>*:last-child{
        padding: 0;
        color: tomato;
        background : transparent;
        transition: all .2s ease;
        &:hover{
            background-color: tomato;
            color: white;
        }
    }
    
    button{
        width: 100%;
        height: 100%;
        background : transparent;
        border : none;
        color : inherit;

    }
}
.form-control{
    font-size: 1.6rem;
}
.form-container{
    width: 100%;
}
.popup{
    &>*{
        width: 100%;
    }
}
#form{
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    gap : 1rem;
    &>*{
        flex-grow: 1;
    }
    align-items: center;
    justify-content: center;
}
.balance-container{
    min-height: 25vh;

    margin-bottom: 2rem;
    width: fit-content;
    gap: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    &>*:first-child{
        grid-column: 1;
        font-size: 3.6rem;
    }
    &>*:nth-child(2){
        grid-column: 2;
        font-size: 6.4rem;
    }
    &>*:last-child{
        width: 100%;
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        
        margin: 0 auto;
        font-size: 3.6rem;
    }
    justify-content: space-between;
    color : white;
    text-transform: uppercase;
    font-weight: 700;
}

tr{
    width: 100%;
    &>*{
        border-width: 5px;
        text-align: left;
        padding : 0.5rem 1rem;
        &:nth-child(1){
        width: 60%;
        max-width: 200px;
        word-wrap: break-word;
        }
        &:last-child{
            text-align: center;
        }
    }
}
.table-negative{
    .amount-field{
        color : red;
    }
}
.table-positive{
    .amount-field{
        color : green;
    }
}
input{
    padding : 1rem;
    border-style: solid;
}
select{
    padding : 1rem;
    width: 150px;
}

#submitBtn{
    color : white;
    border : 0px;
    padding: 1.2rem;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 50%;
    background-color: #fff;
    color: red;
    text-align: center;
    border-radius: 6px;
    font-size: 1.6rem;
    padding: 8px 1rem;
    position: absolute;
    
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .show {
    .popuptext{

        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }



@media (max-width : 768px){
    html{
    font-size: 55%;
    }

    .table-container{
        display: grid;
        grid-template-columns: 1fr;
        &>*{
            width: 100%;
        }
    }
    .balance-container{
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr;
        &>*{
            grid-column: 1/-1 !important;
        }
        &>*:last-child{
            grid-template-columns: 1fr !important;
        }
    }
}
@media (max-width : 425px) {
    html{
        font-size: 50%;
    }
    .nav-bar{
        grid-template-columns: 1fr !important;
        justify-items: center;
        .heading-two{
            margin-bottom: 1rem;
        }
        button{
            justify-self: center;
            content: 'Clear';
        }
    }
    .heading-two{
        margin-top: 1rem;
        font-size: 2.4rem;
    }

    .balance-container{
        min-height: 15vh;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 95vw;
        &>*:first-child{
            font-size: 2.4rem;
        }
        &>*{
            &:nth-child(2){
                font-size: 3.2rem;
            }
            &:nth-child(3){
                font-size: 2.4rem;
            }
        }
    }
    #form{
        width: 100%;
        flex-flow: column nowrap;
        &>*{
            width: 100%;
        }
    }
}

@media (max-width : 240px) {
    html{
        font-size: 45%;
    }
    .heading-two{
        font-size: 2rem;
    }
    .balance-container{
        &>*:first-child{
            font-size: 2rem;
        }
    }
    
    .positive,.negative{
        font-size: 1.4rem;
    }
    tr{
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        &>*{
            width: 100%;
        }
        &>*:nth-child(1){
            width: 100%;
            max-width: 100%;
        }
    }
}