html{
    font-size: 62.5%;background: rgb(54,50,126);
    background: radial-gradient(circle, rgba(54,50,126,1) 0%, rgba(22,22,166,1) 38%, rgba(13,135,161,1) 100%);

    font-family: 'Roboto', sans-serif;
}

$text-default : #555;
*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

.tracker{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #333;
    box-shadow: 0 0 15px rgba(0,0,0,0.125);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    align-items: center;
    color : $text-default;
}
.heading-two{
    font-size: 2.4rem;
    color: white;
    text-transform: uppercase;
}
.table-container{
    padding-top: 2rem;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    gap : 2rem;
    flex-flow: row wrap;
    
    &>*{
    border-spacing: .2rem .5em;
    font-size: 1.4rem;
    flex-grow: 1;
    &>h3{
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }
    & table{
        width: 100%;
        border-spacing: .2rem .5em;
        font-size: 1.4rem;
    }
    }
}
.positive,.negative{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background-color: #fff;
    padding : 1rem;
}

.total{
    &-positive{
        color : green;
        &::after{
            content: '↑';
        }
    }
    &-negative{
        color: red;
        &::after{
            content: '↓';
        }
    }
}

thead{
    *{
        text-transform: uppercase;
        font-size: 1.6rem;
        background-color: rgba(0,0,0,0.05);
    }
}

td{
    border-bottom: 1px solid #999;
}
.form-control{
    font-size: 1.4rem;
}

#form{
    display: flex;
    flex-flow: row wrap;
    gap : .5rem;
    align-items: center;
    justify-content: center;
}
.balance-container{
    width: fit-content;
    gap: 2rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1,3fr);
    align-items: center;
    justify-items: center;
    &>*:first-child{
        grid-row: 1;
        grid-column: 1;
        font-size: 3.2rem;
    }
    &>*:nth-child(2){
        grid-column: span 2;
        grid-row: 1;
        font-size: 3.2rem;
    }
    &>*:last-child{
        grid-row: 2;
        grid-column: span 3;
        margin: 0 auto;
        font-size: 2.4rem;
    }
    justify-content: space-between;
    color : white;
    text-transform: uppercase;
    font-weight: 700;
}

tr{
    width: 100%;
    &>*{

        text-align: left;
        padding : 0.5rem 1rem;
        &:nth-child(1){
        width: 60%;
        max-width: 200px;
        overflow-x: auto;
        }
        &:last-child{
            text-align: center;
        }
    }
}
.table-negative{
    .amount-field{
        color : red;
    }
}
.table-positive{
    .amount-field{
        color : green;
    }
}
input{
    padding : 1rem;
    border-style: solid;
}
select{
    padding : 1rem;
    width: 150px;
}

#submitBtn{
    color : white;
    border : 0px;
    padding: 1.2rem;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 8px 1rem;
    position: absolute;
    
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .show {
    .popuptext{

        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }